html{
    scroll-behavior: smooth;
    scroll-padding-top: 200px;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-image: url(../images/code2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.partone{
  background-image: url(../images/port4.webp);
  background-repeat: no-repeat;  
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
   background-color: rgb(3, 3, 46);
   z-index: 1000;
   padding: 8px;
    }
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    align-items: center;
    }
nav ul, li,a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}
nav ul li a:hover{
    color:  #7cf03d;;

}
nav ul .logo{
    margin-right: 500px;
    background: linear-gradient(90deg,#ff7e5f,#00ff00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 32px;
    font-weight: 700;
}
nav ul li{
    margin-left: 10px;
}
.socials{
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.button{
    display: inline-block;
    padding: 10px 30px;
    background: #4ade80;
    border: 2px solid #4ade80;
    border-radius: 40px;
    box-shadow: 0 0 10px #7cf03d;
    font-size: 16px;
    color: black;
    font-weight: 600;
    transition: 1s;
}
.button:hover{
    background: transparent;
    color: aqua;
    box-shadow: none;
}
.sci{
    margin-left: 30px;
}
.sci a{
    display: inline-flex;
    padding: 8px;
    border: 2px solid #0e0b0c;
    border-radius: 50%;
    font-size: 20px;
    color: #7cf03d;
    margin: 0 8px;
    transition: 1s;
}
.sci a:hover{
    background: #4ade80;
    color: #06066d;
    box-shadow: 0 0 10px #7cf03d;
}
#about{
    margin-top: 200px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 250px;
    font-size: 32px;
    color: white;
}
#about p{
    margin-top: 20px;
    margin-right: 0;
    font-size: 16px;
    color: white;
}
.moreabout{
    display: flex;
}
#Pics{
    margin-top: 150px;
    margin-bottom: 100px;
    margin-left: 5px;
    margin-right: 5px;
}
img{
    top: 30px;
    width: 22vw;
    height: 52vh;
    border-radius: 50%;
    background: linear-gradient(90deg, #ff00ff,#00ffff,#ff9900);
    padding: 10px;
    animation: glow 5s linear infinite, pulse 3s ease-in-out infinite;
  box-shadow: 0 0 80px rgba(255, 0, 255, 0.6),
              0 0 100px rgba(0, 255, 255, 0.4),
              0 0 120px rgba(255, 153, 0, 0.4);
}
@keyframes glow {
  0% { background: linear-gradient(45deg, #ff00ff, #00ffff, #ff9900); }
  50% { background: linear-gradient(225deg, #00ffff, #ff9900, #ff00ff); }
  100% { background: linear-gradient(405deg, #ff00ff, #00ffff,#ff9900);}
}
@keyframes pulse {
  0% { box-shadow: 0 0 80px rgba(255, 0, 255, 0.6),
                   0 0 100px rgba(0, 255, 255, 0.4),
                   0 0 120px rgba(255, 153, 0, 0.4); }
  50% { box-shadow: 0 0 100px rgba(255, 0, 255, 0.8),
                    0 0 140px rgba(0, 255, 255, 0.6),
                    0 0 160px rgba(255, 153, 0, 0.6);}
  100%{ box-shadow: 0 0 80px rgba(255, 0, 255, 0.6),
                    0 0 100px rgba(0, 255, 255, 0.4),
                    0 0 120px rgba(255, 153,0,0.4);}
}
h2{
    font-size: 40px;
    color: rgb(12, 12, 51);
    text-align: center;
}
#service{
    color: #f0f1ef;
}
h3{
    font-size: 26px;
    font-weight: bolder;
    color: rgb(249, 249, 252);
}
h4{
    font-size: 28px;
    font-weight: 500;
    color: #06066d;
}
.begin span{
    opacity: 0;
    animation: fadeIn 1s forwards;
}
@keyframes fadeIn{
    from{
        opacity: 0; transform: translateY(10px);}
    to{
        opacity: 1; transform: translateY(0);
    }
}
.begin span:nth-child(1){
    animation-delay: 0s;
}
.begin span:nth-child(2){
    animation-delay: 0.5s;
}
.begin span:nth-child(3){
    animation-delay: 1s;
}
.begin span:nth-child(4){
    animation-delay: 1.5s;
}
.begin span:nth-child(5){
    animation-delay: 2s;
}
.begin span:nth-child(6){
    animation-delay: 2.5s;
}
.begin span:nth-child(7){
    animation-delay: 3s;
}
.begin span:nth-child(8){
    animation-delay: 3.5s;
}
.begin span:nth-child(9){
    animation-delay: 4s;
}
.begin span:nth-child(10){
    animation-delay: 4.5s;
}
.begin span:nth-child(11){
    animation-delay: 5s;
}
.begin span:nth-child(12){
    animation-delay: 6s;
}
.begin .write{
    position:absolute ;
    color: #5ae60f;
    text-shadow: 0 0 6px #00ffff;
    margin-left: 10px;
    height: 45px;
    font-size: 35px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0;
    border-right: 2px solid #00ffff;
}
.begin span:nth-child(12){
    animation: typing 4s steps(17) infinite;
    animation-delay: 6s;
}
@keyframes typing{
    0%,5%{width: 0; opacity: 1;}
    20%,40%{width: 17ch; opacity: 1;}
    55%,100%{width: 0; opacity: 0;}
}
.aboutme{
    display: flex;
}
.picture{
    margin-top: 180px;
    margin-bottom: 130px;
    margin-left: 100px;
    margin-right: 200px;
}
#know{
    margin-top: 180px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 10px;
    font-size: 16px;
    color: white;
    text-align: justify;
    height: 150px;
    width: 450px;
}
.offer{
    display: flex;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 200px;
    margin-left: 60px;
    margin-right: 80px;
}
.help{
    text-align: justify;
    height: 292px;
    width: 400px;
    border: 6px solid rgba(17, 17, 102, 0.712);
    border-radius: 30px;
    font-weight: 300;
    padding: 15px;
    color: #f0f3f3;
    background-color: #06fc0662;
}
.icon{
  display: inline-block;
  font-size: 3rem;
  text-shadow: 0 0 10px #fff,
               0 0 20px #ff00ff,
               0 0 40px #00ffff,
               0 0 60px #ff00ff;
}
.bounce {
  animation: bounce 1s infinite ease-in-out;
}
@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
}
.wiggle {
  animation: wiggle 1.2s infinite ease-in-out;
}
@keyframes wiggle {
  0%, 100% { transform: rotate(0deg); }
  25% { transform: rotate(10deg); }
  75% { transform: rotate(-10deg); }
}
.spin {
  animation: spin 2s infinite linear;
}
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.disco {
  animation: disco 1.5s infinite ease-in-out;
}
@keyframes disco {
  0% { transform: translateY(0) rotate(0deg); }
  25% { transform: translateY(-15px) rotate(10deg); }
  50% { transform: translateY(0) rotate(0deg); }
  75% { transform: translateY(-15px) rotate(-10deg); }
  100% { transform: translateY(0) rotate(0deg); }
}
.expert{
    display: flex;
    gap: 280px;
    margin-left: 220px;
    margin-right: 100px;
    margin-bottom: 100px;
    color: #f0f1ef;
    font-size: 18px;
    font-weight: 600;
}
#prof{
    margin-left: 160px;
    margin-top: 0;
    padding-top: 0;
}
#hear{
    margin-right: 170px;
    margin-left: 30px;
}
#solve{
    margin-right: 80px;
}
.contact{
    display: flex;
    gap: 100px;
    margin-left: 200px;
    margin-top: 50px;
    margin-bottom: 200px;

}
.call{
    text-align: justify;
    height: 280px;
    width: 480px;
    border: 2px solid #290e8a96;
    padding: 5px;
    border-top-left-radius: 49px;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 250px;
    background-color: #00ff0023;
    box-shadow: 0 0 20px rgb(17, 17, 77);
}
#form{
   margin-top: 12px;
    height: 150px;
    width: 350px; 
}
.contact p a{
     display: inline-flex;
    padding: 5px;
    border: 2px solid #0e0b0c;
    border-radius: 50%;
    font-size: 16px;
    color: #f0f1ef;
    background-color: #09091f;
    margin: 0 8px;
    transition: 1s;
}
.contact p a:hover{
    background: #f4f7f5;
    color: #06066d;
    box-shadow: 0 0 40px #131d0e;
}
button{
    display: inline-block;
    width: 400px;
    padding: 10px 30px;
    background: #2e7c4b;
    border: 2px solid #4ade80;
    border-radius: 40px;
    box-shadow: 0 0 50px #211555;
    font-size: 16px;
    color: black;
    font-weight: 600;
    transition: 1s;
}
button:hover{
     background-color: rgb(19, 161, 38);
     color: #dfc9d1;
     box-shadow: none;
}
.contact p{
    font-size: 18px;
    font-weight: 500;
}
fieldset{
    padding: 15px;
    border: 2px solid #414441b7;
    border-radius: 40px;
    height: 260px;
    box-shadow: 0 0 20px #040470;
}
#skill{
    color: #f0f1ef;
}
#skill span{
    color: rgb(0, 255, 34);
    font-style: oblique;
}
#form input {
    width: 360px;
    border-radius: 30px;
    height: 30px;
    border: 2px solid black;
    background-color: #33333315;
}
textarea{
    border-radius: 15px;
    border: 2px solid black;
    background-color: #33333315;
}
.last{
    background-image: url(../images/blur\ \(2\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
:placeholder-shown{
    font-weight: 600;
    font-size: 18px;
}
footer{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}
footer p{
    margin: 0;
    color: #06066d;
}
#more{
    text-shadow: 0 0 6px #00ff00;
}
#more span{
    color: rgb(13, 12, 75);
    font-style: oblique;
}
#tell span{
    color: rgb(17, 16, 63);
    font-style: oblique; 
}
.skill {
  margin: 15px 0;
}

.skill-bar {
  background: #333131;
  border-radius: 25px;
  overflow: hidden;
  height: 20px;
}

.fill {
  background: rgb(44, 214, 22);
  height: 100%;
  line-height: 20px;
  color: white;
  text-align: right;
  padding-right: 10px;
  border-radius: 25px;
  transition: width 1s ease-in-out;
}
#project{
    color: #f0f1ef;
}

.progress-container {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;
      padding: 40px;
    }

    .progress-item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .progress {
      --size: 80px;
      width: var(--size);
      height: var(--size);
      border-radius: 50%;
      background: conic-gradient(
        limegreen calc(var(--percent) * 1%),
        #333 0
      );
       display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      color: white;
      font-weight: bold;
      font-size: 18px;
}
 .progress::before {
      content: "";
      position: absolute;
      width: 75%;
      height: 75%;
      border-radius: 50%;
      background: #111; 
    }

    .progress span {
      position: relative;
      z-index: 1;
    }

    .progress-item p {
      margin-top: 10px;
      font-weight: 500;
      color: white;
      text-align: center;
    }

.circle{
    display: flex;
}
.round{
    display: flex;
    gap: 120px;
    margin-top: 8px;
}
.roundcircle{
    display: flex;
    gap: 70px;
    margin-top: 20px;
}